@import "tailwindcss";

body {
  background: #09090b;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}